<!DOCTYPE html>
<html>
<head>
<title>Login y password con AngularJS</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

</head>
<body>
	<div data-ng-app="Login" data-ng-controller="ControladorLogin">	
		<input type="text" data-ng-model="login" placeholder="login"><br>
		<input type="password" data-ng-model="pwd" placeholder="password (login + '123')"><br>
		<button data-ng-click="identificar()">Aceptar</button>
		<button data-ng-click="borrar()">Borrar sessionStorage</button><br>
		<p data-ng-bind="mensaje"></p>
	</div>

	<script>
	var app = angular.module('Login', []);
	app.controller('ControladorLogin', function($scope, $http) {
		if (sessionStorage.login!=undefined)
			$scope.login=sessionStorage.login;
		if (sessionStorage.pwd!=undefined)
			$scope.pwd=sessionStorage.pwd;
	    $scope.mensaje= "Por favor, escribe tus credenciales";
	    $scope.identificar = function() {
	    	$http.get("login.jsp?nombre=" + $scope.login + "&pwd=" + $scope.pwd).
			then(function(response) {
				var respuesta= response.data;
				$scope.mensaje=respuesta.RESULTADO;
			});
	    };
	    $scope.borrar = function() {
	    		sessionStorage.clear();
	    		$scope.login="";
	    		$scope.pwd="";
	    };
	});
	</script>
</body>
</html>