<!DOCTYPE html>
<html>
<head>
<title>Ubicaciones con get</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

</head>
<body>
	<h1>Ubicaciones con <i>get</i></h1>
	<div data-ng-app="ProvinciasGet" data-ng-controller="ControladorProvinciasGet">
		Provincia: 
		<select data-ng-model="provincia" data-ng-options="x for x in provincias" data-ng-change="cargarMunicipios()">
		</select>
		Municipio:
		<select data-ng-model="municipio" data-ng-options="x for x in municipios">
		</select>
		<p data-ng-bind="provincia"></p>
	</div>

	<script>
	var app = angular.module('ProvinciasGet', []);
	app.controller('ControladorProvinciasGet', function($scope, $http) {
		$scope.provincias = ["Albacete", "Ciudad Real", "Cuenca", "Guadalajara", "Toledo"];
		$scope.cargarMunicipios = function() {
			$http.get("../getMunicipios.jsp?provincia=" + $scope.provincia).
				then(function(response) {
					$scope.municipios= response.data;					
				});
		}
	});
	</script>
</body>
</html>